<h1>Kategorien</h1>
<mat-card class="category-card" *ngFor="let category of categories">
    <mat-card-header>
        <mat-card-title>{{category.name}}</mat-card-title>
        <mat-card-subtitle>{{category.description}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/api/categories/{{category.id}}/image" alt="Foto von  {{category.description}}">
    <mat-card-actions>
        <button mat-button [routerLink]="['/categories', category.id, 'dishes']">Details</button>
    </mat-card-actions>
</mat-card>