<div class="form-container">
    <mat-form-field>
        <input matInput placeholder="Name" name="name" [(ngModel)]="dish.name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Beschreibung" name="description" [(ngModel)]="dish.description">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Preis" name="price" [(ngModel)]="dish.price" type="number">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Kategorie</mat-label>
        <mat-select [(value)]="dish.categoryId">
            <mat-option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<button mat-button (click)="saveDish()">Speichern</button>
<button mat-button (click)="back()">Abbrechen</button>